
/*================== UTILS   ==========================*/


@each $name, $value in $font-sizes {
  .u-font-size--#{$name} { font-size: $value; }
};
// Usage: 
// .u-font-size--xxs
// .u-font-size--xs
// .u-font-size--s
// .u-font-size--m
// .u-font-size--l
// .u-font-size--xl
// .u-font-size--xxl

@each $name, $value in $font-weights {
  .u-font-weight--#{$name} { font-weight: $value; }
};
// Usage:
// .u-font-weight-light
// .u-font-weight-normal
// .u-font-weight-bold
// .u-font-weight-bolder

.u-bt {
  display: inline-block;
  padding: 0 1em;
  font-family: "Roboto", sans-serif;
  font-size: $font-size-m;
  line-height: 2;
  font-weight: $font-weight-bold;
  text-decoration: none;
  border: 3px solid $color-black;
  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}

