
//================= VARIABLES =========================//

// COLORS
$color-black   : black;
$color-white   : white;
$color-green   : rgba(0,255,0,1);
$color-cyan    : rgba(0,255,255,1);
$color-yellow  : rgba(251,184,18,1);
$color-magenta : rgba(237,108,165,1);

$flashy-backgrounds: (
  green   : $color-green,
  cyan    : $color-cyan,
  yellow  : $color-yellow,
  magenta : $color-magenta,
);

// SIZES
$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: 1.2em;

$font-size-xxs : modular-scale(-3);
$font-size-xs  : modular-scale(-2);
$font-size-s   : modular-scale(-1);
$font-size-m   : modular-scale(0);
$font-size-l   : modular-scale(1);
$font-size-xl  : modular-scale(2);
$font-size-xxl : modular-scale(3);

$font-sizes: (
  xxs : $font-size-xxs, 
  xs  : $font-size-xs,  
  s   : $font-size-s,   
  m   : $font-size-m,   
  l   : $font-size-l,   
  xl  : $font-size-xl,  
  xxl : $font-size-xxl 
);

$font-weight-light  : 300;
$font-weight-normal : 400;
$font-weight-bold   : 500;
$font-weight-bolder : 900;

$font-weights: (
    light  : $font-weight-light,
    normal : $font-weight-normal,
    bold   : $font-weight-bold,
    bolder : $font-weight-bolder
);

// GRIDS
$layout-grid-small: (
  columns: 1,
  gutter: 0,
  media: "(max-width: 675px)",
);

$layout-grid-wide: (
  columns: 12,
  gutter: 20px,
  media: "(min-width: 676px)",
);
