@import "normalize";
@import "bourbon";
@import "neat";

@include normalize();

@import "variables";
@import "fonts";
@import "utils";

/*================== BASE =============================*/
html {
  box-sizing: border-box;
  font-size: 87.5%; // 14px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: $font-weight-light;
}

// Elements
a, a:hover, a:link { color: $color-black; }
a:hover {
  text-decoration: none;
  font-weight: $font-weight-bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-normal;
}

h1 {
  font-size: $font-size-xl;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-l;
}

blockquote {
  margin-left: 0;
  font-style: italic;
}


/*================== LAYOUT ==========================*/

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}


.header {
  margin-bottom: modular-scale(1);
}

.logo {
  @include grid-media($layout-grid-small) {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  @include grid-media($layout-grid-wide) {
    margin: 2rem 0 modular-scale(2) 2.1rem;
  }
}

.nav { @include grid-container; }

.navbar {
  display: inline-block;
  float: right;
  padding: 0;
  font-weight: map-get($font-weights, normal);

  @include grid-media($layout-grid-small) {
    display: block;
    float: none;
    margin: modular-scale(1) auto;
  }

  &__item {
    display: block;
    float: left;
    margin-right: 20px;
    @include grid-media($layout-grid-small) {
      float: none;
      text-align: center;
    }
  }
  &__link {
    display: inline-block;
    height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__link span {
    display: block;
    width: 2.5ex;
    transition: width 0.3s ease;
    border-bottom: 2px solid $color-black;
    @include grid-media($layout-grid-small) { margin: 0 auto; }
  }

  &__link:hover span, &__link--selected span {
    width: 100%;
  }

}



.container {
  @include grid-container;
  background: linear-gradient(to bottom, $color-green 0%, $color-white 65%);
  &--yellow {
  }

  &--main {
    min-height: 50rem;
  }
  &--footer {
    min-height: 10rem;
  }

  &__section {
    @include grid-push(1 of 12, $layout-grid-wide);
    padding-top: modular-scale(3);

  }
}
.container ul, .u-list--dashed {
  list-style-type: none;
  margin-left: 2ex;
  & > li { text-indent: -2.3ex; }
  & > li:before {
    content: "— ";
    text-indent: 2ex;
  }
}

.footer {
  @include grid-container;
  min-height: 20em;
  &--green {
    background: linear-gradient(to bottom, $color-green 0%, $color-white 100%);
  }
}
.footer__section {
  @include grid-push(1, $layout-grid-wide);
}
.footer__block {
  @include grid-column(4, $layout-grid-wide);
  margin-top: modular-scale(3);
  & ul {
    padding: 0;
  }
  &--small {
    @include grid-column(3, $layout-grid-wide);
  }
  &--center {
    text-align: center;
    vertical-align: center;
  }
}

.u-bt {
  display: inline-block;
  padding: 0 1em;
  font-family: "Roboto", sans-serif;
  font-size: $font-size-m;
  line-height: 2;
  font-weight: $font-weight-bold;
  text-decoration: none;
  border: 3px solid $color-black;
}
