@import "normalize";
@import "bourbon";
@import "neat";

@include normalize();

@import "variables";
@import "fonts";
@import "utils";

/*================== BASE =============================*/
html {
  box-sizing: border-box;
  font-size: 87.5%; // 14px
  line-height: 1.4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: $font-weight-light;
}

// Elements
a, a:hover, a:link { color: $color-black; }
a:hover {
  text-decoration: none;
  font-weight: $font-weight-bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-normal;
}

h1 {
  font-size: $font-size-xl;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-l;
}

blockquote {
  margin-left: 2ex;
  text-indent: -2ex;
  font-style: italic;
  &::before { content: '«'; }
  &::after { content: '»'; }
}


/*================== LAYOUT ==========================*/

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}


.header {
  margin-bottom: modular-scale(1);
}

.logo {
  @include grid-media($layout-grid-small) {
    img {
      display: block;
      margin: 0 auto;
    }
  }
  @include grid-media($layout-grid-wide) {
    margin: 2rem 0 modular-scale(2) 2.1rem;
  }
}

.nav { @include grid-container; }

.navbar {
  display: inline-block;
  float: right;
  padding: 0;
  font-weight: map-get($font-weights, normal);

  @include grid-media($layout-grid-small) {
    display: block;
    float: none;
    margin: modular-scale(1) auto;
  }

  &__item {
    display: block;
    float: left;
    margin-right: 30px;
    @include grid-media($layout-grid-small) {
      float: none;
      text-align: center;
    }
  }
  &__link {
    display: inline-block;
    height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__link span {
    display: block;
    width: 2.5ex;
    transition: width 0.3s ease;
    border-bottom: 2px solid $color-black;
    @include grid-media($layout-grid-small) { margin: 0 auto; }
  }

  &__link:hover span, &__link--selected span {
    width: 100%;
  }

}



.container {
  @include grid-container;
  background: linear-gradient(to bottom, $color-green 0%, $color-white 65%);
  @each $name, $value in $flashy-backgrounds {
    &--#{$name} {
      background: linear-gradient(to bottom, #{$value} 0%, $color-white 65%);
    }
  }
  // Usage: 
  // .container--green
  // .container--cyan
  // .container--yellow
  // .container--magenta

  &--main {
    min-height: 50rem;
  }

  &__section {
    @include grid-media($content-grid-wide) {
      @include grid-column(7, $content-grid-wide);
      @include grid-push(3 of 12, $content-grid-wide);
    }
    @include grid-media($content-grid-medium) {
      @include grid-column(9, $content-grid-medium);
      @include grid-push(1 of 12, $content-grid-medium);
    }
    @include grid-media($content-grid-small) {
      @include grid-column(1, $content-grid-small);
    }
    padding-top: modular-scale(3);
    &--fullwidth {
      @include grid-media($content-grid-wide) {
        @include grid-column(12, $content-grid-wide);
      }
      @include grid-media($content-grid-medium) {
        @include grid-column(12, $content-grid-medium);
      }
    }
  }
}
.container img {
  width: 100%;
  @include grid-media($content-grid-wide) {
    @include grid-collapse;
    @include grid-column(20, $content-grid-wide);
    @include grid-push(-4, $content-grid-wide);
    margin-left: calc(-33.33333% - 13.33333px + 67px);
  }
  margin-bottom: modular-scale(1);
}
.container ul, .u-list--dashed {
  list-style-type: none;
  margin-left: 2ex;
  & > li { text-indent: -2.3ex; }
  & > li:before {
    content: "— ";
    text-indent: 2ex;
  }
}

.footer {
  @include grid-container;
  min-height: 25em;
  background: linear-gradient(to bottom, $color-green 0%, $color-white 100%);
  @each $name, $value in $flashy-backgrounds {
    &--#{$name} {
      background: linear-gradient(to bottom, #{$value} 0%, $color-white 100%);
    }
  }
  // Usage: 
  // .footer--green
  // .footer--cyan
  // .footer--yellow
  // .footer--magenta
}
.footer__section {
  @include grid-media($layout-grid-wide) {
    @include grid-push(1, $layout-grid-wide);
  }
  @include grid-media($layout-grid-small) {
    text-align: center;
  }
}
.footer__block {
  & ul { padding: 0; }
  & h1 { text-transform: none }
  @include grid-media($layout-grid-wide) {
    margin-top: modular-scale(3);
    @include grid-column(4, $layout-grid-wide);
    &--small {
        @include grid-column(3, $layout-grid-wide);
    }
    &--center {
      margin-top: modular-scale(5);
      text-align: center;
      vertical-align: center;
    }
  }
  @include grid-media($layout-grid-small) {
    border-top: 1px solid $color-white;
  }
}
.footer__menu {
  @include grid-media($layout-grid-small) {
    margin-left: 0;
    & > li { text-indent: 0; }
    & > li:before {
      content: "";
      text-indent: 0;
    }
  }
}

