{% macro color(pages, currentPage='index') -%}
{{pages | findbyattr('name', currentPage) | getvalue('color')}}
{%- endmacro %}

{% macro title(pages, currentPage='index') -%}
  {% if currentPage == 'index' -%}
    Aster Bretagne, Architectes Sans Territoire.
  {%- else -%}
    {{pages | findbyattr('name', currentPage) | getvalue('label') | safe}} | Architectes Sans Territoire Bretagne
  {%- endif -%}
{%- endmacro %}


{% macro description(pages, currentPage='index') -%}
{{pages | findbyattr('name', currentPage) | getvalue('description')}}
{%- endmacro %}
