{% extends "layout.html" %}
{% set currentPage="contact" %}

{% block content %} 
        <section class="container__section">
          <section>
            <h1>Contact</h1>
            <p>Vous avez des questions sur l'association&nbsp;? Vous souhaitez
               en savoir plus sur nos projets ? N'hésitez-pas à nous contacter.
            <h2>Nos coordonnées</h2>
            <address>
              <p>
                <strong>Aster Bretagne</strong><br />
                Ordre des Architectes<br /> 
                1 rue Marie Alizon<br />
                B.P. 70248 <br />
                35102 Rennes Cedex 3<br />
                France
              </p>
              <p>Georges LE GARZIC, président de l'association<br /> 
              <a href="mailto:&#108;e&#103;arzicgeor&#103;es@g&#109;ai&#108;&#99;om">&#108;eg&#97;r&#122;&#105;&#99;ge&#111;r&#103;&#101;s@gm&#97;&#105;&#108;&#46;c&#111;m</a><br />
              Tel: 06.46.91.26.54</p>
            </address>

            <h2>Participer</h2>

            <p>
              <strong>Vous souhaitez devenir adhérent, mécene ou proposer un projet&nbsp;?</strong>
              Vous pouvez-vous <a href="mailto:&#108;e&#103;arzicgeor&#103;es@g&#109;ai&#108;&#99;om">nous envoyer un message</a>
              pour nous en faire part. Nous serons ravis de partager avec vous cette aventure&nbsp;!
            </p>


            <figure class="image">
              <img src="assets/img/008-827x.jpg" class="image__image" />
            </figure>

            <figure class="image">
              <img src="assets/img/011-827x.jpg" class="image__image" />
            </figure>

            <figure class="image">
              <img src="assets/img/010-827x.jpg" class="image__image" />
            </figure>

            <figure class="image">
              <img src="assets/img/012-827x.jpg" class="image__image" />
            </figure>

          </section>
        </section>
{% endblock %}
