{% extends "layout.html" %}
{% set currentPage="nos-actions" %}

{% block content %} 
        <section class="container__section">
          <section>
            <h1>Contact</h1>
            <blockquote>
              Amet provident atque corporis voluptatum at cupiditate. Harum
              nulla illo repellat dignissimos consequuntur debitis tenetur at.
              Velit nostrum culpa delectus!
            </blockquote>
            <h2>Nos coordonnées</h2>
            <address>
              Ipsum esse pariatur laborum vero cum. Debitis quis optio sed
              consectetur exercitationem. Deserunt eos at alias ducimus ipsum
              incidunt architecto numquam quasi vitae, ipsum architecto,
              aliquam, quae totam rem! Voluptatem.
            </address>

            <h2>Vous souhaitez participer ?</h2>

            <p>
              Ipsum explicabo consectetur deserunt quis minus sint,
              consequuntur! Quas quam nisi tempore aut aperiam veniam fuga.
              Autem cum eum repellat?
            </p>
          </section>
        </section>
{% endblock %}
