{% extends "layout.html" %}
{% set currentPage="index" %}

{% block content %} 
        <section class="container__section">
          <section>
            <h1>ASTER Bretagne</h1>
            <h2>Architectes Sans Territoire</h2>
            <blockquote>
              Nous partageons notre savoir-faire dans le domaine de la construction et de
              l’infrastructure à travers le monde.
            </blockquote>
            <p>Nous sommes une équipe pluri-disciplinaire</p>

            <ul>
              <li>architectes,</li>
              <li>urbanistes,</li>
              <li>ingénieurs et techniciens,</li>
              <li>paysagistes,</li>
              <li>maîtres charpentiers,</li>
              <li>…</li>
            </ul>

            <p>Les ressources et les compétences locales sont au cœur des projets que nous
            accompagnons.</p>

            <p>Nous effectuons des mission ciblées en coopération avec des associations
            locales ou à but humanitaire.</p>

            <h2>Découvrez nos actions</h2>
            <p>
              <a href="nos-actions.html"><img src="assets/img/carte-des-projets.png" /></a>
            </p>
          </section>
        </section>
<!--
<iframe src="https://www.google.com/maps/d/embed?mid=1HdWk5ZMGL1dzBQCFCOAgQlf-LxM&hl=fr" width="640" height="480"></iframe>
-->
{% endblock %}
