{% extends "layout.html" %}
{% set currentPage="l-association" %}

{% block content %} 
        <section class="container__section">
          <section>
            <h1>L&#39; association</h1>
            <blockquote>[accroche]</blockquote>

            <p>
              Elit voluptate expedita vero voluptates ex autem est. Assumenda
              qui fugiat consequuntur nihil nam omnis voluptas eligendi. Ex hic
              iusto enim blanditiis placeat. Quam at ex dignissimos sit quae
              ut?
            </p>
            
            <p>
              Amet maiores pariatur nesciunt repellat vel delectus quia
              ratione. Fugiat nostrum consectetur consequuntur illum impedit!
              Iure odit corrupti a vero neque ratione nam ipsa, reprehenderit
              impedit, esse. Ab rem aperiam!
            </p>
            

            <h2>Historique</h2>

            <p>
              Sit omnis ducimus voluptas tenetur tenetur! Minima distinctio
              unde reiciendis molestiae illo. Repudiandae distinctio dolorum
              itaque amet sunt, nisi nulla. Rerum dolorem aliquam pariatur
              placeat nostrum quia voluptatem perspiciatis. Explicabo.
            </p>
            

            <h2>Notre équipe</h2>

            <p>[accroche] multi-disciplinaires, étudiants etc.</p>
            <p>Photo de l’équipe</p>

            <p>Le bureau (contacts)</p>
          </section>
        </section>
{% endblock %}
