{% extends "layout.html" %}
{% set currentPage="l-association" %}

{% block content %} 
        <section class="container__section">
          <section>
            <h1>L&#39; association</h1>

            <h2>Historique</h2>

            <p>L’association Architectes Sans Territoire a été créée en 1995 par plusieurs
            architectes bretons réunis par une motivation commune, celle de mettre son
            savoir-faire au service d’actions humanitaires internationales.</p>  
            
            <p>L’association régie par la loi 1901, à une gestion désintéressée et
            une activité non concurrentielle. Tous nos membres sont bénévoles.</p> 
            

            <h2>Notre équipe</h2>

						<p>Notre équipe est composée de professionnels de l’architecture,
						de l’urbanisme, du génie  urbain et de l’hydraulique et du traitement de
						l’eau.</p>

						<h2>Siège social d’ASTER</h2>
						<p>
						Ordre des Architectes<br /> 
            1 rue Marie Alizon<br />
            B.P. 70248 <br />
            35102 Rennes Cedex 3
						</p>

						<h2>Bureau</h2>
             
            <h3>Président</h3>
            <p>LE GARZIC Georges<br /> 
						<a href="mailto:&#108;e&#103;arzicgeor&#103;es@g&#109;ai&#108;&#99;om">&#108;eg&#97;r&#122;&#105;&#99;ge&#111;r&#103;&#101;s@gm&#97;&#105;&#108;&#46;c&#111;m</a><br />
            Tel: 06.46.91.26.54</p>
             
            <h3>Vice-présidente</h3>
            <p>RASTOUL Michelle<br /> 
            <a href="mailto:m&#105;&#99;hel&#108;&#101;&#46;&#114;a&#115;t&#111;u&#108;&#64;w&#97;&#110;a&#100;o&#111;.fr">miche&#108;l&#101;&#46;r&#97;&#115;to&#117;&#108;@w&#97;na&#100;&#111;o&#46;&#102;r</a><br />
            Tel: 02.99.35.01.37</p>

            <h3>Trésorier</h3> 
            <p>LURAINE Jean-Claude<br />
            <a href="mailto:j&#99;.&#108;&#117;&#114;&#97;&#105;&#110;e@g&#109;&#97;il.c&#111;m">j&#99;&#46;&#108;&#117;&#114;a&#105;n&#101;@&#103;ma&#105;l.c&#111;&#109;</a><br />
            Tel: 02.96.39.53.29</p>
          
          </section>
        </section>
{% endblock %}
