{% extends "layout.html" %}
{% set currentPage="notre-approche" %}

{% block content %} 
        <section class="container__section">
          <section>
            <h1>Notre approche</h1>
            <p>
              Architectes sans Territoire aide les pays émergents à concevoir,
              bâtir et conserver le patrimoine, dans le respect des hommes, de
              l'architecture locale et de l'environnement.
            </p>
            <p>
              Pour nous, l'architecture pense le bâti par rapport à son contexte, au lieu de
              construction, aux matériaux et techniques locaux et à la durabilité économique
              et sociale du bâtiment. Le bâti étant un centre de valeur économique et social
              essentiel, l'architecture se doit de respecter l’équité sociale, l’efficacité
              économique, l’harmonie culturelle autant que la prudence écologique.
            </p>
          </section>
        </section>
{% endblock %}
