{% extends "layout.html" %}
{% set currentPage="notre-approche" %}

{% block content %} 
        <section class="container__section">
          <section>
            <h1>Notre approche</h1>
						<p>L’association à pour but d’apporter une assistance technique dans
						le domaine du bâtiment, du patrimoine, de l’infrastructure et de
						l’assainissement.</p> 

						<p>Architectes sans Territoire aide à concevoir, à bâtir, à conserver, à
						valoriser, dans le respect des hommes, de l'architecture locale et de
						l'environnement.</p>

						<p>Pour nous, l'architecture pense le bâti par rapport à son contexte, aux
						besoins, aux matériaux et techniques locaux et à la durabilité économique et
						sociale du bâtiment.</p> 

						<p>Le bâti étant un centre de valeur économique et social essentiel,
						l'architecture se doit de respecter l’équité sociale, l’efficacité économique,
						l’harmonie culturelle autant que la prudence écologique.</p>

						<p>Sur chaque projet une relation étroite est établie avec les bénéficiaires
						locaux (population, équipes techniques, administration, …). Cet échange est au
						cœur de notre conception de projet.</p>
          </section>
        </section>
{% endblock %}
